footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
}

footer h5 {
    height: 50%;
    text-align: center;
    margin-bottom: 0;
}