header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}

.header-logo {
    position: absolute;
    height: 50%;
    left: 20px;
}

.header-logo a {
    position: absolute;
    height: 50%;
    left: 20px;
}