.filters div {
    display: inline-block;
    height: 100%;
    width: 25%;
}

.locations {
    border-right: 1px solid #DDDDDD;
}


.filter-title {
    font-weight: 600;
    padding: 0;
    padding-top: 1rem;
    padding-left: 20%;
    margin: 0;
}

.filter-subtitle {
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    padding-left: 20%;
    margin: 0;
}